# Copyright (c) 2015 Radosław Szeja All rights reserved.

# OS X
.DS_Store
.localized

# Xcode
*.pbxuser
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata
profile
build
output
DerivedData

# AppCode
.idea

# CocoaPods
Pods
